---
name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker images
        run: make build

      - name: Generate and check requirements.txt for drift
        run: |
          make infra.deps
          git diff --exit-code requirements.txt

      - name: Run code quality checks
        run: make check

      - name: Run tests and generate coverage report
        run: make test

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v3
        with:
          name: html-coverage-report
          path: htmlcov/
